rs-dataprovider/acquisition/acquisition-plugins-ssalto/src/test/resources/income/dico/SIPAD_Base_Type_V4.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by user user (SILOGIC) -->
<xs:schema xmlns="http://cnes.fr/dico_SIPAD" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cnes.fr/dico_SIPAD" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation xml:lang="fr">
Dictionnaire SIPAD
Definition des Types Simples et Types Complexes
Date de creation : 04/03/2004  - V1.0 
Date de derniere Modification : 30/03/2007  - V2.4
. Type TypeArchive : ajout de l'enumere PLASMA_CF
. Type TypeInstrumentType : ajout de l'enumere RETARDING_POTENTIAL_ANALYZER
***************************************************************************************
		</xs:documentation>
	</xs:annotation>
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<!-- Definition des types simples du dictionnaire SIPAD-NG            -->
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<xs:simpleType name="TypeArchive">
		<xs:annotation>
			<xs:documentation>Enumere des noms d'archives possibles pour un objet de stockage</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="JASON2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeArchivePath">
		<xs:annotation>
			<xs:documentation>String de 1 a 160 car. debutant par un /</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="160"/>
			<xs:pattern value="/.{1,159}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeDocumentPriority">
		<xs:annotation>
			<xs:documentation>Enumere des ordres d'importance des documents</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRIMARY"/>
			<xs:enumeration value="SECONDARY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeDocumentType">
		<xs:annotation>
			<xs:documentation>Enumere des types de document</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BIBLIOGRAPHIE"/>
			<xs:enumeration value="DED"/>
			<xs:enumeration value="DOC"/>
			<xs:enumeration value="LOGICIEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeEventTableCriteriaType">
		<xs:annotation>
			<xs:documentation>Enumere des types possibles de criteres renseignes dans une table d'evenements</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GEO"/>
			<xs:enumeration value="GEO_TEMPORAL"/>
			<xs:enumeration value="TEMPORAL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeEventTableIdentifier">
		<xs:annotation>
			<xs:documentation>String TypeString_1_64 debutant par TAB_TC_... </xs:documentation>
		</xs:annotation>
		<xs:restriction base="TypeString_1_64">
			<xs:pattern value="TAB_TC_.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeEventTableValueType">
		<xs:annotation>
			<xs:documentation>Enumere des types de valeurs renseignees dans une table d'evenements</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="KEYWORD"/>
			<xs:enumeration value="NUMERIC_VALUE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeGraphType">
		<xs:annotation>
			<xs:documentation>Enumere des types de graphe auquel appartient une collection</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BROWSE"/>
			<xs:enumeration value="DATA"/>
			<xs:enumeration value="DOCUMENT"/>
			<xs:enumeration value="TABLE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeGridTrack">
		<xs:annotation>
			<xs:documentation>Enumere des types de produits (grilles ou sur la trace)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Along-track products"/>
			<xs:enumeration value="Gridded products"/>
			<xs:enumeration value="Scalar"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeInstrumentClass">
		<xs:annotation>
			<xs:documentation>Enumere des classes d'instruments</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Core mission"/>
			<xs:enumeration value="Passenger"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeInstrumentFullName">
		<xs:annotation>
			<xs:documentation>Enumere des noms complets d'instruments</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Advanced Microwave Radiometer"/>
			<xs:enumeration value="CARacterisation et Modelisation de l'Environnement"/>
			<xs:enumeration value="Doppler Orbitography Radiopositioning Integrated by Satellite"/>
			<xs:enumeration value="Global Positioning System Payload"/>
			<xs:enumeration value="Light Particles Telescope"/>
			<xs:enumeration value="Laser Retroflector Array"/>
			<xs:enumeration value="Time Transfer by Laser Link"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeInstrumentName">
		<xs:annotation>
			<xs:documentation>Enumere des noms d'instruments</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AMR"/>
			<xs:enumeration value="CARMEN-2"/>
			<xs:enumeration value="DORIS"/>
			<xs:enumeration value="GPSP"/>
			<xs:enumeration value="LPT"/>
			<xs:enumeration value="LRA"/>
			<xs:enumeration value="Poseidon-3"/>
			<xs:enumeration value="T2L2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeInstrumentType">
		<xs:annotation>
			<xs:documentation>Enumere des types de technique ou de methode pour realiser une observation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Dosimeter"/>
			<xs:enumeration value="Positioning / Navigation"/>
			<xs:enumeration value="Radiometer"/>
			<xs:enumeration value="Radar altimeter"/>
			<xs:enumeration value="Reflector"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeIssueRevision">
		<xs:annotation>
			<xs:documentation>String de 15 a 17 car. de format "Issue n  - Rev n" avec n = entier a 1 ou 2 digits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="15"/>
			<xs:maxLength value="17"/>
			<xs:pattern value="Issue [0-9][0-9]? - Rev [0-9][0-9]?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeLatitude">
		<xs:annotation>
			<xs:documentation>Decimal de format (nn)n.dd [-90.00; 90.00]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="-90"/>
			<xs:maxInclusive value="90"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeLongitude">
		<xs:annotation>
			<xs:documentation>Decimal de format (nnn)n.dd [-180.00; 180.00]</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:maxInclusive value="180"/>
			<xs:fractionDigits value="2"/>
			<xs:minInclusive value="-180"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeMissionName">
		<xs:annotation>
			<xs:documentation>Enumere des missions</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Jason-2"/>
			<xs:enumeration value="Multimission"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeNode">
		<xs:annotation>
			<xs:documentation>String TypeString_1_64 debutant par ([BR,DA,DO,TAB)_(C,ST,TC)_... :node_identifier, ascending_node, descending_node, node_seeen_by, seen_node,</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TypeString_1_64">
			<xs:pattern value="(BR|DA|DO|TAB)_(C|ST|TC)_.+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOflNrtRt">
		<xs:annotation>
			<xs:documentation>Off-line, Near-real time ou Real time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Both Near-real time and Off-line products"/>
			<xs:enumeration value="Near-real time products"/>
			<xs:enumeration value="Off-line products"/>
			<xs:enumeration value="Real-time products"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOption">
		<xs:annotation>
			<xs:documentation>Enumere des systeme sur lequel ont ete generees les donnees du jeu</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Predicted orbit"/>
			<xs:enumeration value="Validated orbit"/>
			<xs:enumeration value="Native"/>
			<xs:enumeration value="Sensor"/>
			<xs:enumeration value="Reduced-SSHA"/>
			<xs:enumeration value="Analysis"/>
			<xs:enumeration value="Forecast"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOrganisme">
		<xs:annotation>
			<xs:documentation>Organismes</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CNES - Centre National d'Etudes Spatiales, France"/>
			<xs:enumeration value="EUMETSAT - EUropean METeorological SATellite organisation"/>
			<xs:enumeration value="JAXA - Japan Aerospace Exploration Agency"/>
			<xs:enumeration value="NASA - National Aeronautics and Space Administration, USA"/>
			<xs:enumeration value="NOAA - National Oceanic and Atmospheric Administration, USA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeOs">
		<xs:annotation>
			<xs:documentation>Enumere des systemes sur lequel ont ete generees les donnees du jeu</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Both Unix and DOS-Windows"/>
			<xs:enumeration value="DOS-Windows"/>
			<xs:enumeration value="Linux"/>
			<xs:enumeration value="Unix"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeParam">
		<xs:annotation>
			<xs:documentation>Enumere des parametres contenus dans un fichier NetCDF SSALTO</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="surface type"/>
			<xs:enumeration value="altimeter echo type"/>
			<xs:enumeration value="radiometer surface type"/>
			<xs:enumeration value="quality flag for 1 Hz altimeter data: Ku band range"/>
			<xs:enumeration value="quality flag for 1 Hz altimeter data: C band range"/>
			<xs:enumeration value="quality flag for 1 Hz altimeter data: Ku band SWH"/>
			<xs:enumeration value="quality flag for 1 Hz altimeter data: C band SWH"/>
			<xs:enumeration value="quality flag for 1 Hz altimeter data: Ku band backscatter coefficient"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypePhase">
		<xs:annotation>
			<xs:documentation>Enumere des systeme sur lequel ont ete generees les donnees du jeu</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ascending"/>
			<xs:enumeration value="Descending"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeProcessingLevel">
		<xs:annotation>
			<xs:documentation>Enumere des niveaux de traitement</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="L0"/>
			<xs:enumeration value="L1"/>
			<xs:enumeration value="L1b"/>
			<xs:enumeration value="L2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeProductClass">
		<xs:annotation>
			<xs:documentation>Enumere des classes de produits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Altimetry products"/>
			<xs:enumeration value="Auxiliary products"/>
			<xs:enumeration value="Common products"/>
			<xs:enumeration value="Expert products"/>
			<xs:enumeration value="Flight softwares"/>
			<xs:enumeration value="Telecommands"/>
			<xs:enumeration value="Telemetry"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeProductFamily">
		<xs:annotation>
			<xs:documentation>Enumere des familles de produits</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Calibration information"/>
			<xs:enumeration value="Earth rotation"/>
			<xs:enumeration value="Ephemeris"/>
			<xs:enumeration value="Geophysical data"/>
			<xs:enumeration value="Meteorological products"/>
			<xs:enumeration value="Mog2D"/>
			<xs:enumeration value="Monitoring telemetry"/>
			<xs:enumeration value="Satellite information"/>
			<xs:enumeration value="Scientific telemetry"/>
			<xs:enumeration value="Solar activity"/>
			<xs:enumeration value="Times correspondance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeProductSource">
		<xs:annotation>
			<xs:documentation>Enumere des producteurs de donnees</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CNES / J2CCC"/>
			<xs:enumeration value="CNES / OM"/>
			<xs:enumeration value="CNES / SD"/>
			<xs:enumeration value="CNES / SMLD"/>
			<xs:enumeration value="CNES / SPA"/>
			<xs:enumeration value="CNES / STILO"/>
			<xs:enumeration value="EUMETSAT"/>
			<xs:enumeration value="EUMETSAT / TM-Analyser"/>
			<xs:enumeration value="JASON TM-NRT"/>
			<xs:enumeration value="Meteo-France"/>
			<xs:enumeration value="NASA / CDDIS"/>
			<xs:enumeration value="NOAA / J2TCCS"/>
			<xs:enumeration value="NASA / JPL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeString_1_16">
		<xs:annotation>
			<xs:documentation>String standard de 1 a 16 car.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeString_1_32">
		<xs:annotation>
			<xs:documentation>String standard de 1 a 32 car.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeString_1_64">
		<xs:annotation>
			<xs:documentation>String standard de 1 a 64 car.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeString_1_80">
		<xs:annotation>
			<xs:documentation>String standard de 1 a 80 car.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="80"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeString_1_128">
		<xs:annotation>
			<xs:documentation>String standard de 1 a 128 car.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeString_1_256">
		<xs:annotation>
			<xs:documentation>String standard de 1 a 256 car.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeString_1_320">
		<xs:annotation>
			<xs:documentation>String standard de 1 a 320 car.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="320"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>String TypeString_1_64 se terminant par .cc(cc) ou c= 1 car.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TypeString_1_64">
			<xs:pattern value=".*\.[^0-9]{2,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeSuffixedFilePath">
		<xs:annotation>
			<xs:documentation>String TypeString_1_320 se terminant par .cc(cc) ou c= 1 car.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TypeString_1_320">
			<xs:pattern value=".*\.[^0-9]{2,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeSVA">
		<xs:annotation>
			<xs:documentation>Enumere des differents types de SVA</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="BATCH"/>
			<xs:enumeration value="INTERACTIVE"/>
			<xs:enumeration value="URL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeSVAIdent">
		<xs:annotation>
			<xs:documentation>String TypeString_1_64 debutant par (SVA)_... :node_identifier, ascending_node, descending_node, node_seeen_by, seen_node,</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TypeString_1_64">
			<xs:pattern value="(SVA_).+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeTagGlu">
		<xs:annotation>
			<xs:documentation>String TypeString_1_80 de la forme  &lt;&amp;...&gt;</xs:documentation>
		</xs:annotation>
		<xs:restriction base="TypeString_1_80">
			<xs:minLength value="1"/>
			<xs:pattern value="&lt;&amp;.*&gt;"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TypeTransfoSoDo">
		<xs:annotation>
			<xs:documentation>Enumere des transformations pour passer d'un objet de stockage a un objet de donnees</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="DETAR"/>
			<xs:enumeration value="GUNZIP"/>
			<xs:enumeration value="IDENTITY"/>
			<xs:enumeration value="UNZIP"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<!-- Definition des types complexes du dictionnaire SIPAD-NG             -->
	<!-- """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<xs:complexType name="TypeCBothStorage">
		<xs:annotation>
			<xs:documentation>Stockage en archive et en ligne</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="STORAGE_ON_LINE" type="TypeCStorageOnLine">
				<xs:annotation>
					<xs:documentation>Objet en ligne</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STORAGE_NEAR_LINE" type="TypeCStorageNearLine">
				<xs:annotation>
					<xs:documentation>Objet dans l'archive</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCBothStorageUpdate">
		<xs:annotation>
			<xs:documentation>Stockage en archive et en ligne</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="STORAGE_ON_LINE" type="TypeCStorageOnLineUpdate">
				<xs:annotation>
					<xs:documentation>Objet en ligne</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STORAGE_NEAR_LINE" type="TypeCStorageNearLineUpdate">
				<xs:annotation>
					<xs:documentation>Objet dans l'archive</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCCycleRange">
		<xs:annotation>
			<xs:documentation>Cycles min et max couverts par un fichier</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="CYCLE_MIN" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Cycle minimum </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CYCLE_MAX" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Cycle maximum</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCGeoCoordinates">
		<xs:annotation>
			<xs:documentation>Coordonnees geographiques</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="LATITUDE_MIN" type="TypeLatitude">
				<xs:annotation>
					<xs:documentation>Latitude Sud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LONGITUDE_MIN" type="TypeLongitude">
				<xs:annotation>
					<xs:documentation>Longitude Ouest</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LATITUDE_MAX" type="TypeLatitude">
				<xs:annotation>
					<xs:documentation>Latitude Nord</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LONGITUDE_MAX" type="TypeLongitude">
				<xs:annotation>
					<xs:documentation>Longitude Est</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCOrbitRange">
		<xs:annotation>
			<xs:documentation>Orbites min et max couvertes par un fichier</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ORBIT_MIN" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Orbite minimum </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ORBIT_MAX" type="xs:integer">
				<xs:annotation>
					<xs:documentation>Orbite maximum</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCFileResolution">
		<xs:annotation>
			<xs:documentation>Resolution zonale, meridionnale et temporelle</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="LONG_ECH" type="TypeString_1_16" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resolution zonale (longitude)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LAT_ECH" type="TypeString_1_16" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resolution meridionale (latitude)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="T_ECH" type="TypeString_1_32" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resolution temporelle</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCMissionTimePeriod">
		<xs:annotation>
			<xs:documentation>Periode temporelle (date debut - date fin) au format YYYY-MM-DD, couverte par la mission</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MISSION_START_DATE" type="xs:date">
				<xs:annotation>
					<xs:documentation>Date debut </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MISSION_STOP_DATE" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date fin</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TypeCStorageChoice">
		<xs:annotation>
			<xs:documentation>Choix de stockage en ligne et/ou archive</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="STORAGE_NEAR_LINE" type="TypeCStorageNearLine">
				<xs:annotation>
					<xs:documentation>Stockage en archive</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STORAGE_ON_LINE" type="TypeCStorageOnLine">
				<xs:annotation>
					<xs:documentation>Stockage en ligne</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STORAGE_BOTH" type="TypeCBothStorage">
				<xs:annotation>
					<xs:documentation>Stockage a la fois en ligne et dans une archive</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TypeCStorageChoiceUpdate">
		<xs:annotation>
			<xs:documentation>Choix de stockage en ligne et/ou archive</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="STORAGE_NEAR_LINE" type="TypeCStorageNearLineUpdate">
				<xs:annotation>
					<xs:documentation>Stockage en archive</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STORAGE_ON_LINE" type="TypeCStorageOnLineUpdate">
				<xs:annotation>
					<xs:documentation>Stockage en ligne</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STORAGE_BOTH" type="TypeCBothStorageUpdate">
				<xs:annotation>
					<xs:documentation>Stockage a la fois en ligne et dans une archive</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="TypeCStorageNearLine">
		<xs:annotation>
			<xs:documentation>Stockage en archive</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ARCHIVE" type="TypeArchive">
				<xs:annotation>
					<xs:documentation>Nom de l'archive pour un objet de stockage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARCHIVE_PATH" type="TypeArchivePath">
				<xs:annotation>
					<xs:documentation>Chemin d'acces dans l'archive a l'objet de stockage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARCHIVE_OBJECT_NAME" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom d'un objet de stockage dans une archive. Ne le renseigner que s'il est different de data_storage_object_identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCStorageNearLineUpdate">
		<xs:annotation>
			<xs:documentation>Stockage en archive</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ARCHIVE" type="TypeArchive" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom de l'archive pour un objet de stockage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARCHIVE_PATH" type="TypeArchivePath" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Chemin d'acees dans l'archive a l'objet de stockage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARCHIVE_OBJECT_NAME" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom d'un objet de stockage dans une archive. Ne le renseigner que s'il est different de data_storage_object_identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCStorageOnLine">
		<xs:annotation>
			<xs:documentation>Stockage en ligne</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ON_LINE_PATH" type="TypeString_1_256">
				<xs:annotation>
					<xs:documentation>Chemin d'acces a un objet de stockage disponible en ligne</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ON_LINE_OBJECT_NAME" type="TypeString_1_64" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom d'un objet de stockage disponible en ligne. Ne le renseigner que s'il est different de data_storage_object_identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCStorageOnLineUpdate">
		<xs:annotation>
			<xs:documentation>Stockage en ligne</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="ON_LINE_PATH" type="TypeString_1_256" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Chemin d'acces a un objet de stockage disponible en ligne</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ON_LINE_OBJECT_NAME" type="TypeString_1_64" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom d'un objet de stockage disponible en ligne. Ne le renseigner que s'il est different de data_storage_object_identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="TypeCTimePeriod">
		<xs:annotation>
			<xs:documentation>Periode temporelle  (date debut - date fin) au format YYYY-MM-DDThh:mm:ss</xs:documentation>
		</xs:annotation>
		<xs:all>
			<xs:element name="START_DATE" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date et temps debut </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="STOP_DATE" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date et temps fin</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
