rs-dataprovider/acquisition/acquisition-plugins-ssalto/src/test/resources/income/dico/SIPAD_Dictionary_SSALTO_V3.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://cnes.fr/dico_SIPAD" targetNamespace="http://cnes.fr/dico_SIPAD" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="SIPAD_Base_Type_SSALTO_V3.3.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="fr">
Dictionnaire SIPAD-SSALTO
Les types simples et complexes du dictionnaire sont definis dans le schema XML SIPAD_Base_Type_SSALTO_V3.3.xsd
HISTORIQUE : 
- Date de creation : 05/03/2008  - V1.0
- Date de modification : 30/03/2009 - V2.0
  DM-ID : SIPNG-DM-0053-CN : 2009/01/13 : extension du nombre de caracteres dans l'identifiant des entites
- Date de modification : 10/01/2011 - V3.0
  Uniformisation des versions avant ouverture sur Internet
  Ajout de l'attribut ESTIMATION_RATIO_PLUGIN a la fin de l'entite SVA_DESCRIPTION
- Date de modification : 29/08/2011 - V3.1
	Modification du type de l'attribut INSTRUMENT_COLLECTION_TYPE
- Date de modification : 17/01/2012 - V3.1
	Modification du type de l'attribut SHORT_DESCRIPTION en "TypeString_1_256"
- Date de derniere modification : 12/06/2012 - V3.2
	Remplacement de OPTION par PRODUCT_OPTION dans DATA_OBJECT_DESCRIPTION_SSALTO
	Remplacement de SVA_DATASET_DELETE par DELETE_SVA_DATASET (FA686)
	Changement de version du dico et baseType lors de la montee en version V4.7.3 du SIPAD-SSALTO
- Date de derniere modification : 12/11/2014 - V3.3
	Changement de version du dico et baseType lors du rajout de jason3 
	modification du type  de PRODUCT_NB_FILES pour jason3

	</xs:documentation>
	</xs:annotation>
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<!-- Element Racine du dictionnaire SIPAD                             -->
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<xs:element name="SIPAD_DATA">
		<xs:annotation>
			<xs:documentation>Definition de la racine du dictionnaire</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="MASTER_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="COLLECTION_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="COLLECTION_UPDATE" minOccurs="0"/>
				<xs:element ref="DATA_OBJECT_DESCRIPTION_SSALTO" minOccurs="0"/>
				<xs:element ref="DATA_OBJECT_UPDATE_SSALTO" minOccurs="0"/>
				<xs:element ref="DATA_SET_DESCRIPTION_SSALTO" minOccurs="0"/>
				<xs:element ref="DATA_SET_UPDATE_SSALTO" minOccurs="0"/>
				<xs:element ref="DATA_STORAGE_OBJECT_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="DATA_STORAGE_OBJECT_UPDATE" minOccurs="0"/>
				<xs:element ref="DELETE_OBJECT" minOccurs="0"/>
				<xs:element ref="DOCUMENT_COLLECTION_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="DOCUMENT_COLLECTION_UPDATE" minOccurs="0"/>
				<xs:element ref="DOCUMENT_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="DOCUMENT_UPDATE" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_UPDATE" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_DESCRIPTION_SSALTO" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_UPDATE_SSALTO" minOccurs="0"/>
				<xs:element ref="NODE_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="NODE_UPDATE" minOccurs="0"/>
				<xs:element ref="MISSION_DESCRIPTION_SSALTO" minOccurs="0"/>
				<xs:element ref="MISSION_UPDATE_SSALTO" minOccurs="0"/>
				<xs:element ref="SVA_GUI_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="SVA_GUI_DELETE" minOccurs="0"/>
				<xs:element ref="SVA_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="SVA_DELETE" minOccurs="0"/>
				<xs:element ref="SVA_INFORMATION_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="SVA_INFORMATION_DELETE" minOccurs="0"/>
				<xs:element ref="SVA_INFORMATION_UPDATE" minOccurs="0"/>
				<xs:element ref="SVA_DATASET_UPDATE" minOccurs="0"/>
				<xs:element ref="DELETE_SVA_DATASET" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="PROJECT_NAME">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SSALTO"/>
						<xs:enumeration value="ssalto"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<!-- Definition des Entites livrables au SIPAD                        -->
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<xs:element name="MASTER_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>permet d'ajouter un master</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MASTER">
					<xs:annotation>
						<xs:documentation>description d'un master</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="LABEL"/>
							<xs:element name="PLUGIN_LOCATION" type="xs:string">
								<xs:annotation>
									<xs:documentation>Emplacement de l executable plugin</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="COLLECTION_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>Description d'une collection du graphe de donnees ou browse ou table d'evenements</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NODE_IDENTIFIER"/>
				<xs:element ref="GRAPH_ROOT"/>
				<xs:element ref="LABEL"/>
				<xs:element ref="SHORT_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="LONG_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="COLLECTION_DESCRIPTION"/>
			<xs:attribute name="GRAPH_TYPE" type="TypeGraphType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="COLLECTION_UPDATE">
		<xs:annotation>
			<xs:documentation>Modification d'une collection du graphe de donnees ou browse ou table d'evenements</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NODE_IDENTIFIER"/>
				<xs:element ref="LABEL" minOccurs="0"/>
				<xs:element ref="SHORT_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="LONG_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="COLLECTION_UPDATE"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATA_STORAGE_OBJECT_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>Description d'un objet de stockage de donnees</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DATA_STORAGE_OBJECT_IDENTIFIER"/>
				<xs:element ref="FILE_SIZE"/>
				<xs:element ref="STORAGE"/>
				<xs:element ref="TRANSFORMATION_SO_DO" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DATA_STORAGE_OBJECT_DESCRIPTION"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATA_STORAGE_OBJECT_UPDATE">
		<xs:annotation>
			<xs:documentation>Modification d'un objet de stockage de donnees</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DATA_STORAGE_OBJECT_IDENTIFIER"/>
				<xs:element ref="FILE_SIZE" minOccurs="0"/>
				<xs:element ref="STORAGE_UPDATE" minOccurs="0"/>
				<xs:element ref="TRANSFORMATION_SO_DO" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DATA_STORAGE_OBJECT_UPDATE"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DELETE_OBJECT">
		<xs:annotation>
			<xs:documentation>Suppression d'un ou plusieurs objets ou noeuds de graphes definis par leurs identifiants</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NODE_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DATA_OBJECT_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DATA_STORAGE_OBJECT_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DOCUMENT_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="EVENT_TABLE_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMENT_COLLECTION_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>Description d'une collection de documents</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NODE_IDENTIFIER"/>
				<xs:element ref="GRAPH_ROOT"/>
				<xs:element ref="LABEL"/>
				<xs:element ref="DOCUMENT_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SHORT_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="LONG_DESCRIPTION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DOCUMENT_COLLECTION_DESCRIPTION"/>
			<xs:attribute name="GRAPH_TYPE" use="required" fixed="DOCUMENT"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMENT_COLLECTION_UPDATE">
		<xs:annotation>
			<xs:documentation>Description d'une collection de documents</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NODE_IDENTIFIER"/>
				<xs:element ref="LABEL" minOccurs="0"/>
				<xs:element ref="SHORT_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="LONG_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="ADD_DOCUMENT" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DELETE_DOCUMENT" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DOCUMENT_COLLECTION_UPDATE"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMENT_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>Description d'un document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DOCUMENT_IDENTIFIER"/>
				<xs:element ref="TITLE"/>
				<xs:element ref="AUTHOR" minOccurs="0"/>
				<xs:element ref="ORIGIN" minOccurs="0"/>
				<xs:element ref="DOCUMENT_TYPE"/>
				<xs:element ref="CONTENT" minOccurs="0"/>
				<xs:element ref="REMOTE_ABSTRACT" minOccurs="0"/>
				<xs:element ref="LOCAL_ABSTRACT" minOccurs="0"/>
				<xs:element ref="ISSUE_REVISION" minOccurs="0"/>
				<xs:element ref="LAST_VERSION_DATE" minOccurs="0"/>
				<xs:element ref="FILE_NAME" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DOCUMENT_DESCRIPTION"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMENT_UPDATE">
		<xs:annotation>
			<xs:documentation>Modification de la description d'un document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DOCUMENT_IDENTIFIER"/>
				<xs:element ref="TITLE" minOccurs="0"/>
				<xs:element ref="AUTHOR" minOccurs="0"/>
				<xs:element ref="ORIGIN" minOccurs="0"/>
				<xs:element ref="DOCUMENT_TYPE" minOccurs="0"/>
				<xs:element ref="CONTENT" minOccurs="0"/>
				<xs:element ref="REMOTE_ABSTRACT" minOccurs="0"/>
				<xs:element ref="LOCAL_ABSTRACT" minOccurs="0"/>
				<xs:element ref="ISSUE_REVISION" minOccurs="0"/>
				<xs:element ref="LAST_VERSION_DATE" minOccurs="0"/>
				<xs:element ref="FILE_NAME" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NEW_FILE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DELETE_FILE" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DOCUMENT_UPDATE"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EVENT_TABLE_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>Description d'une table d'evenements</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EVENT_TABLE_IDENTIFIER"/>
				<xs:element ref="AUTHOR" minOccurs="0"/>
				<xs:element ref="ORIGIN" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_CRITERIA_TYPE"/>
				<xs:element ref="EVENT_TABLE_VALUE_TYPE"/>
				<xs:element ref="LABEL"/>
				<xs:element ref="EVENT_TABLE_FILE"/>
				<xs:element ref="EVENT_TABLE_DESCRIPTION_FILE"/>
				<xs:element ref="EVENT_TABLE_TRANSLATION_FILE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="EVENT_TABLE_DESCRIPTION"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="EVENT_TABLE_UPDATE">
		<xs:annotation>
			<xs:documentation>Modification d'une table d'evenements</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EVENT_TABLE_IDENTIFIER"/>
				<xs:element ref="AUTHOR" minOccurs="0"/>
				<xs:element ref="ORIGIN" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_CRITERIA_TYPE" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_VALUE_TYPE" minOccurs="0"/>
				<xs:element ref="LABEL" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_FILE" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_DESCRIPTION_FILE" minOccurs="0"/>
				<xs:element ref="EVENT_TABLE_TRANSLATION_FILE" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="EVENT_TABLE_UPDATE"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NODE_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>Definition d'un noeud du graphe</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NODE_IDENTIFIER"/>
				<xs:element ref="ASCENDING_NODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DESCENDING_NODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SEEN_NODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NODE_SEEN_BY" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="NODE_UPDATE">
		<xs:annotation>
			<xs:documentation>Description des modifications a apporter a un noeud donne</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NODE_IDENTIFIER"/>
				<xs:element ref="ADD_LINK" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DELETE_LINK" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<!--Elements specifiques Projet                                       -->
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<xs:element name="DATA_SET_DESCRIPTION_SSALTO">
		<xs:annotation>
			<xs:documentation>Description d'un jeu de donnees (ou type de produit) SSALTO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NODE_IDENTIFIER"/>
				<xs:element ref="LABEL"/>
				<xs:element ref="MISSION_IDENTIFIER" minOccurs="0"/>
				<xs:element ref="PRODUCT_CLASS" minOccurs="0"/>
				<xs:element ref="PRODUCT_FAMILY" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PROCESSING_LEVEL" minOccurs="0"/>
				<xs:element ref="GRID_TRACK" minOccurs="0"/>
				<xs:element ref="FILE_RESOLUTION" minOccurs="0"/>
				<xs:element ref="PRODUCT_DURATION" minOccurs="0"/>
				<xs:element ref="OFL_NRT_RT" minOccurs="0"/>
				<xs:element ref="SUPPLY_PERIOD" minOccurs="0"/>
				<xs:element ref="PRODUCT_NB_FILES" minOccurs="0"/>
				<xs:element ref="PRODUCT_FORMAT" minOccurs="0"/>
				<xs:element ref="OS" minOccurs="0"/>
				<xs:element ref="MEAN_PRODUCT_SIZE" minOccurs="0"/>
				<xs:element ref="PRODUCT_SOURCE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CONTACT_COORDINATES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CITATION" minOccurs="0"/>
				<xs:element ref="SHORT_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="DOCUMENT_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="EVENT_TABLE_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DATA_SET_DESCRIPTION"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATA_SET_UPDATE_SSALTO">
		<xs:annotation>
			<xs:documentation>Modification d'un jeu de donnees(ou type de produit) SSALTO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NODE_IDENTIFIER"/>
				<xs:element ref="LABEL" minOccurs="0"/>
				<xs:element ref="MISSION_IDENTIFIER" minOccurs="0"/>
				<xs:element ref="PRODUCT_CLASS" minOccurs="0"/>
				<xs:element ref="PRODUCT_FAMILY" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PROCESSING_LEVEL" minOccurs="0"/>
				<xs:element ref="GRID_TRACK" minOccurs="0"/>
				<xs:element ref="FILE_RESOLUTION" minOccurs="0"/>
				<xs:element ref="PRODUCT_DURATION" minOccurs="0"/>
				<xs:element ref="OFL_NRT_RT" minOccurs="0"/>
				<xs:element ref="SUPPLY_PERIOD" minOccurs="0"/>
				<xs:element ref="PRODUCT_NB_FILES" minOccurs="0"/>
				<xs:element ref="PRODUCT_FORMAT" minOccurs="0"/>
				<xs:element ref="OS" minOccurs="0"/>
				<xs:element ref="MEAN_PRODUCT_SIZE" minOccurs="0"/>
				<xs:element ref="PRODUCT_SOURCE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CONTACT_COORDINATES" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CITATION" minOccurs="0"/>
				<xs:element ref="SHORT_DESCRIPTION" minOccurs="0"/>
				<xs:element ref="DOCUMENT_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="EVENT_TABLE_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DATA_SET_UPDATE"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATA_OBJECT_DESCRIPTION_SSALTO">
		<xs:annotation>
			<xs:documentation>Description d'un objet de donnees (ou produits) SSALTO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DATA_OBJECT_IDENTIFIER"/>
				<xs:element ref="ASCENDING_NODE"/>
				<xs:element ref="TIME_PERIOD"/>
				<xs:element ref="CYCLE_RANGE" minOccurs="0"/>
				<xs:element ref="ORBIT_RANGE" minOccurs="0"/>
				<xs:element ref="PHASE" minOccurs="0"/>
				<xs:element ref="PRODUCT_OPTION" minOccurs="0"/>
				<xs:element ref="GEO_COORDINATES" minOccurs="0"/>
				<xs:element ref="PARAMETER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RADICAL" minOccurs="0"/>
				<xs:element ref="FILE_CREATION_DATE"/>
				<xs:element ref="OBJECT_VERSION" minOccurs="0"/>
				<xs:element ref="FILE_SIZE"/>
				<xs:element ref="DATA_STORAGE_OBJECT_IDENTIFIER" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DATA_OBJECT_DESCRIPTION"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DATA_OBJECT_UPDATE_SSALTO">
		<xs:annotation>
			<xs:documentation>Modification d'un objet de donnees (ou produits) SSALTO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DATA_OBJECT_IDENTIFIER"/>
				<xs:element ref="ASCENDING_NODE" minOccurs="0"/>
				<xs:element ref="TIME_PERIOD" minOccurs="0"/>
				<xs:element ref="CYCLE_RANGE" minOccurs="0"/>
				<xs:element ref="ORBIT_RANGE" minOccurs="0"/>
				<xs:element ref="PHASE" minOccurs="0"/>
				<xs:element ref="PRODUCT_OPTION" minOccurs="0"/>
				<xs:element ref="GEO_COORDINATES" minOccurs="0"/>
				<xs:element ref="PARAMETER" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RADICAL" minOccurs="0"/>
				<xs:element ref="FILE_CREATION_DATE" minOccurs="0"/>
				<xs:element ref="OBJECT_VERSION" minOccurs="0"/>
				<xs:element ref="REFERENCE" minOccurs="0"/>
				<xs:element ref="FILE_SIZE" minOccurs="0"/>
				<xs:element ref="DATA_STORAGE_OBJECT_IDENTIFIER" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="DATA_OBJECT_UPDATE"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="INSTRUMENT_DESCRIPTION_SSALTO">
		<xs:annotation>
			<xs:documentation>Description des caracteristiques d'un instrument de mesure de donnees SSALTO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INSTRUMENT_IDENTIFIER"/>
				<xs:element ref="INSTRUMENT_NAME"/>
				<xs:element ref="INSTRUMENT_FULL_NAME" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_CLASS" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_TYPE" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_COLLECTION_TYPE" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_CONTRIBUTION" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="INSTRUMENT_LONG_DESCRIPTION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="SHARED_ENTITY"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="INSTRUMENT_UPDATE_SSALTO">
		<xs:annotation>
			<xs:documentation>Modification des caracteristiques d'un instrument de mesure de donnees SSALTO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="INSTRUMENT_IDENTIFIER"/>
				<xs:element ref="INSTRUMENT_NAME" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_FULL_NAME" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_CLASS" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_TYPE" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_COLLECTION_TYPE" minOccurs="0"/>
				<xs:element ref="INSTRUMENT_CONTRIBUTION" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="INSTRUMENT_LONG_DESCRIPTION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="SHARED_ENTITY"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MISSION_DESCRIPTION_SSALTO">
		<xs:annotation>
			<xs:documentation>Description des caracteristiques d'une mission</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MISSION_IDENTIFIER"/>
				<xs:element ref="MISSION_NAME"/>
				<xs:element ref="MISSION_TIME_PERIOD" minOccurs="0"/>
				<xs:element ref="MISSION_CONTRIBUTION" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="MISSION_LONG_DESCRIPTION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="SHARED_ENTITY"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MISSION_UPDATE_SSALTO">
		<xs:annotation>
			<xs:documentation>Modification des caracteristiques d'une mission</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MISSION_IDENTIFIER"/>
				<xs:element ref="MISSION_NAME" minOccurs="0"/>
				<xs:element ref="MISSION_TIME_PERIOD" minOccurs="0"/>
				<xs:element ref="MISSION_CONTRIBUTION" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="MISSION_LONG_DESCRIPTION" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ENTITY_TYPE" use="required" fixed="SHARED_ENTITY"/>
		</xs:complexType>
	</xs:element>
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<!-- Definition des Entites filles                                    -->
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<xs:element name="ADD_DOCUMENT">
		<xs:annotation>
			<xs:documentation>Definition des documents qu'il faut ajouter a une collection de documents</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DOCUMENT_IDENTIFIER" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ADD_LINK">
		<xs:annotation>
			<xs:documentation>Definition des liens quil faut ajouter a un noeud donne</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ASCENDING_NODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DESCENDING_NODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SEEN_NODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NODE_SEEN_BY" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ASCENDING_NODE">
		<xs:annotation>
			<xs:documentation>Identifiant d'un noeud ascendant pour un noeud donne</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="TypeNode">
					<xs:attribute name="DISPLAY_ORDER" use="optional" default="0"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AUTHOR" type="TypeString_1_80">
		<xs:annotation>
			<xs:documentation>Nom du ou des auteurs d'un document</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CITATION" type="TypeString_1_320">
		<xs:annotation>
			<xs:documentation>Texte a citer lors du referencement des donnees dans une publication</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CONTACT_COORDINATES" type="TypeTagGlu">
		<xs:annotation>
			<xs:documentation>Coordonnees du point de contact pour le jeu de donnees</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CONTENT" type="TypeString_1_320">
		<xs:annotation>
			<xs:documentation>Description succincte du contenu d'un document (en anglais)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CYCLE_RANGE" type="TypeCCycleRange">
		<xs:annotation>
			<xs:documentation>Numero de cycle de l'objet de donnees</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DATA_OBJECT_IDENTIFIER" type="TypeString_1_128">
		<xs:annotation>
			<xs:documentation>Identifiant pour un objet de donnees</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DATA_STORAGE_OBJECT_IDENTIFIER" type="TypeString_1_128">
		<xs:annotation>
			<xs:documentation>Identifiant pour un objet de stockage de donnees</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DELETE_DOCUMENT">
		<xs:annotation>
			<xs:documentation>Definition des documents qu'il faut supprimer a une collection de documents</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DOCUMENT_IDENTIFIER" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DELETE_FILE" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Nom d'un fichier a supprimer parmi les fichiers existants</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DELETE_LINK">
		<xs:annotation>
			<xs:documentation>Definition des liens qu'il faut supprimer a un noeud donne</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ASCENDING_NODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DESCENDING_NODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SEEN_NODE" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="NODE_SEEN_BY" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DESCENDING_NODE">
		<xs:annotation>
			<xs:documentation>Identifiant d'un noeud descendant  pour un noeud donne</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="TypeNode">
					<xs:attribute name="DISPLAY_ORDER" use="optional" default="0"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMENT_IDENTIFIER">
		<xs:annotation>
			<xs:documentation>Identifiant pour un document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="TypeString_1_128">
					<xs:attribute name="DOCUMENT_PRIORITY" type="TypeDocumentPriority" use="optional" default="PRIMARY"/>
					<xs:attribute name="DISPLAY_ORDER" type="xs:unsignedInt" use="optional" default="0"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOCUMENT_TYPE" type="TypeDocumentType">
		<xs:annotation>
			<xs:documentation>Type de document</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EVENT_TABLE_CRITERIA_TYPE" type="TypeEventTableCriteriaType">
		<xs:annotation>
			<xs:documentation>type du critere de selection associe dans la table : TEMPORAL si intervalles temporels, GEO si coordonnees geographiques, ...</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EVENT_TABLE_DESCRIPTION_FILE" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Nom du fichier decrivant la table d'evenements</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EVENT_TABLE_FILE" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Nom du fichier contenant la table d'evenements</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EVENT_TABLE_IDENTIFIER" type="TypeEventTableIdentifier">
		<xs:annotation>
			<xs:documentation>Identifiant pour une table d'evenements</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EVENT_TABLE_TRANSLATION_FILE" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Nom du fichier contenant la correspondance entre la valeur numerique codant le mot cle et un libelle explicite pour ce mot cle. Format : 'Numero-chrono-doc'_TRANS.'suffixe' avec 'Numero_Chrono_Table' extrait de EVENT_TABLE_IDENTIFIER</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="EVENT_TABLE_VALUE_TYPE" type="TypeEventTableValueType">
		<xs:annotation>
			<xs:documentation>Type des valeurs d'une table d'evenements : KEYWORD pour une table de mots cles, NUMERIC_VALUE pour une table de valeurs numeriques</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FILE_CREATION_DATE" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Date de creation d'un produit</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FILE_NAME" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Nom d'un fichier livre. Format pour des document : 'Numero_chrono_doc.'suffixe' ou LIVRAISON_'Numero_chrono_doc.'suffixe'. Format pour des catalogues supplementaires : 'NODE_ID'_CAT_'i'.'suffixe'. Format pour les fichiers fournissant les champs EAST selectionnables : 'NODE_ID'_FIELD.txt.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FILE_RESOLUTION" type="TypeCFileResolution">
		<xs:annotation>
			<xs:documentation>Resolution horizontale et verticale des donnees du jeu</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FILE_SIZE" type="xs:integer">
		<xs:annotation>
			<xs:documentation>Taille du fichier d'archive en Koctets. Convention : 1 Koctets=1000octets, en arrondissant a l'unite superieure</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GEO_COORDINATES" type="TypeCGeoCoordinates">
		<xs:annotation>
			<xs:documentation>Zone couverte par les donnees</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GRAPH_ROOT" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indique si la collection est racine d'un graphe ou non</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="GRID_TRACK" type="TypeGridTrack">
		<xs:annotation>
			<xs:documentation>Type de produit (grille ou sur la trace)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="INSTRUMENT_CLASS" type="TypeInstrumentClass">
		<xs:annotation>
			<xs:documentation>Classe de l'instrument</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="INSTRUMENT_COLLECTION_TYPE" type="TypeString_1_128">
		<xs:annotation>
			<xs:documentation>Fonctionnement de l'instrument</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="INSTRUMENT_CONTRIBUTION" type="TypeOrganisme">
		<xs:annotation>
			<xs:documentation>Organisme(s) a l'origine de l'instrument</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="INSTRUMENT_FULL_NAME" type="TypeInstrumentFullName">
		<xs:annotation>
			<xs:documentation>Nom complet de l'instrument</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="INSTRUMENT_IDENTIFIER" type="TypeString_1_64">
		<xs:annotation>
			<xs:documentation>Identifiant de l'instrument</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="INSTRUMENT_LONG_DESCRIPTION" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Description de l'instrument</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="INSTRUMENT_NAME" type="TypeInstrumentName">
		<xs:annotation>
			<xs:documentation>Nom de l'instrument</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="INSTRUMENT_TYPE" type="TypeInstrumentType">
		<xs:annotation>
			<xs:documentation>Type d'instrument</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ISSUE_REVISION" type="TypeIssueRevision">
		<xs:annotation>
			<xs:documentation>Edition et revision. Format : Issue x-Rev y</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LABEL" type="TypeString_1_80">
		<xs:annotation>
			<xs:documentation>Nom (en anglais) d'une entite(jeu,table,collection) vue sur l'IHM</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LAST_VERSION_DATE" type="xs:date">
		<xs:annotation>
			<xs:documentation>Date de la derniere revision</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LOCAL_ABSTRACT" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Nom du fichier contenant le resume d'un document. Format : 'Numero_chrono_doc'ABS.'suffixe' avec Numero_chrono_doc extrait de DOCUMENT_IDENTIFIER et toujours sur 5 chiffres</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LONG_DESCRIPTION" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Nom d'un fichier de description longue de collection</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MEAN_PRODUCT_SIZE" type="TypeString_1_80">
		<xs:annotation>
			<xs:documentation>Volume moyen d un objet de donnees du jeu</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MISSION_IDENTIFIER" type="TypeString_1_64">
		<xs:annotation>
			<xs:documentation>Identifiant de la mission</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MISSION_LONG_DESCRIPTION" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Description detaillee de la mission</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MISSION_NAME" type="TypeMissionName">
		<xs:annotation>
			<xs:documentation>Nom de la mission</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MISSION_CONTRIBUTION" type="TypeOrganisme">
		<xs:annotation>
			<xs:documentation>Organisme(s) a l'origine de la mission</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MISSION_TIME_PERIOD" type="TypeCMissionTimePeriod">
		<xs:annotation>
			<xs:documentation>Periode couverte par la mission</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NEW_FILE" type="TypeSuffixedFilename">
		<xs:annotation>
			<xs:documentation>Nom d'un fichier a ajouter aux fichiers existants</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NODE_IDENTIFIER" type="TypeNode">
		<xs:annotation>
			<xs:documentation>Identifiant de noeud dans un graphe. Il doit etre unique quel que soit le graphe. Format : XX_YY_NOM ou XX definit le type de graphe: DA (Donnee), BR(Browse), DO(Document), TAB(Table d'evenements) et YY definit le type de collection : ST (Racine), C (courante), TC (Terminale).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NODE_SEEN_BY">
		<xs:annotation>
			<xs:documentation>Identifiant d'un noeud d'un autre graphe qui voit un noeud donne</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="TypeNode">
					<xs:attribute name="DISPLAY_ORDER" use="optional" default="0"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="OBJECT_VERSION" type="xs:string">
		<xs:annotation>
			<xs:documentation>Numero de version de l'objet</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OFL_NRT_RT" type="TypeOflNrtRt">
		<xs:annotation>
			<xs:documentation>Off-line, Near-real time ou Real time</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PRODUCT_OPTION" type="TypeString_1_80">
		<xs:annotation>
			<xs:documentation>Caracteristique precise de l'objet de donnees, i.e. orbite predite / orbite restituee, sensor / native / reduced-SSHA, analysis / forecast, etc. en fonction du type de produit</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ORBIT_RANGE" type="TypeCOrbitRange">
		<xs:annotation>
			<xs:documentation>Numero d'orbite</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ORIGIN" type="TypeString_1_320">
		<xs:annotation>
			<xs:documentation>Nom de l'organisme emetteur du document</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OS" type="TypeOs">
		<xs:annotation>
			<xs:documentation>Systeme sur lequel ont ete generees les donnees du jeu</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PARAMETER" type="TypeString_1_128">
		<xs:annotation>
			<xs:documentation>Parametres contenus dans le fichier, si celui-ci est au format NetCDF (dans le but de faire des extractions)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PHASE" type="TypePhase">
		<xs:annotation>
			<xs:documentation>Ascendante ou descendante</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PROCESSING_LEVEL" type="TypeProcessingLevel">
		<xs:annotation>
			<xs:documentation>Niveau de traitement effectue sur les donnees</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PRODUCT_CLASS" type="TypeProductClass">
		<xs:annotation>
			<xs:documentation>Classe de produits</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PRODUCT_DURATION" type="TypeString_1_80">
		<xs:annotation>
			<xs:documentation>Couverture temporelle des donnees du jeu</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PRODUCT_FAMILY" type="TypeProductFamily">
		<xs:annotation>
			<xs:documentation>Famille de produits</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PRODUCT_FORMAT" type="TypeString_1_80">
		<xs:annotation>
			<xs:documentation>Format des donnees du jeu</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PRODUCT_NB_FILES" type="TypeString_1_128">
		<xs:annotation>
			<xs:documentation>Nombre de fichiers par produits</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PRODUCT_SOURCE" type="TypeProductSource">
		<xs:annotation>
			<xs:documentation>Producteur des donnees du jeu</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RADICAL" type="TypeString_1_128">
		<xs:annotation>
			<xs:documentation>Chaine de caracteres permettant de discriminer tous les objets de donnees identiques a l'exception de leur numero de version</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="REFERENCE" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>Indique si l'objet de donnees est considere comme l'objet de donnees de reference</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="REMOTE_ABSTRACT" type="TypeTagGlu">
		<xs:annotation>
			<xs:documentation>Etiquette glu definissant un service externe</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SEEN_NODE">
		<xs:annotation>
			<xs:documentation>Identifiant d'un noeud d'un autre graphe vu depuis un noeud donne</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="TypeNode">
					<xs:attribute name="DISPLAY_ORDER" use="optional" default="0"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SHORT_DESCRIPTION" type="TypeString_1_256">
		<xs:annotation>
			<xs:documentation>Nom d'un fichier de description courte de collection</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="STORAGE" type="TypeCStorageChoice">
		<xs:annotation>
			<xs:documentation>Stockage et/ou en ligne et/ou en archive</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="STORAGE_UPDATE" type="TypeCStorageChoiceUpdate">
		<xs:annotation>
			<xs:documentation>Stockage et/ou en ligne et/ou en archive</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SUPPLY_PERIOD" type="TypeString_1_80">
		<xs:annotation>
			<xs:documentation>Periodicite de mise a disposition de nouvelles donnees</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TIME_PERIOD" type="TypeCTimePeriod">
		<xs:annotation>
			<xs:documentation>Periode temporelle (date de debut - date de fin)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TITLE" type="TypeString_1_320">
		<xs:annotation>
			<xs:documentation>Titre du document</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TRANSFORMATION_SO_DO" type="TypeTransfoSoDo">
		<xs:annotation>
			<xs:documentation>Transformation pour passer des objets de stockage aux objets de donnees.' IDENTITY' est la valeur par defaut prise par le SIPAD si cet element n'est pas renseigne.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<!-- Definition des SVA                                               -->
	<!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
	<xs:element name="SVA_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>Permet de creer un SVA.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SVA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SVA_IDENTIFIER" type="TypeSVAIdent">
								<xs:annotation>
									<xs:documentation>SVA plug in entity node identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SVA_TYPE" type="TypeSVA">
								<xs:annotation>
									<xs:documentation>Type of SVA : batch, interactif or URL</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element ref="LABEL"/>
							<xs:element name="PROCESS_SINGLE_FILE" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>If TRUE, this element indicates that the SVA can process only one file at once.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SVA_GUI_IDENTIFIER" type="TypeSVAIdent" minOccurs="0">
								<xs:annotation>
									<xs:documentation>This element points to the URI (or Struts mapping identifier) used to define context-relative parameters. This element is optional; some SVA don't have related GUI.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="QUOTA_MAX_EXECUTION" type="xs:integer">
								<xs:annotation>
									<xs:documentation>This element defines the maximal number of simultaneous execution of the SVA. It is optional since, it is available only to administration profiles.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ESTIMATED_RATIO" default="1">
								<xs:annotation>
									<xs:documentation>This element presents the ratio output/input for the executable associated to the SVA. This element is an estimation.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:double">
										<xs:minInclusive value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="INPUT_FILE_SUFFIX" minOccurs="0">
								<xs:annotation>
									<xs:documentation>This element defines the file suffixes that can be handled by the SVA. </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[a-z0-9]*"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="QUOTA_MAX_INPUT_SIZE" type="xs:integer">
								<xs:annotation>
									<xs:documentation>This element defines the maximum size accepted by the SVA for input files.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DESCRIPTION" type="xs:string">
								<xs:annotation>
									<xs:documentation>textual description of the SVA : purpose, processing, extra information.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CALL_METHOD" type="TypeSuffixedFilePath">
								<xs:annotation>
									<xs:documentation>This optional (only administrator can view this information) element points to the absolute path of the executable file corresponding to the SVA processing.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DESCRIPTION_URI" type="xs:string">
								<xs:annotation>
									<xs:documentation>This element points to an URI containing informations about the SVA.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ESTIMATION_RATIO_PLUGIN" minOccurs="0">
								<xs:annotation>
									<xs:documentation>This element points to classe name of plugin that evaluate the data volume in output of SVA</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="200"/>
										<xs:pattern value="[a-zA-Z\.]*"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SVA_DELETE">
		<xs:annotation>
			<xs:documentation>Permet de supprimer un SVA.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SVA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SVA_IDENTIFIER" type="TypeSVAIdent"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SVA_GUI_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>Permet d'ajouter une IHM a un SVA. Une IHM peut etre factorisC)e pour plusieurs SVA, d'oC9 son ingestion sC)parC)e.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SVA_GUI" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SVA_GUI_IDENTIFIER" type="TypeSVAIdent">
								<xs:annotation>
									<xs:documentation>Identifiant de l'IHM SVA.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PATH" type="TypeSuffixedFilename">
								<xs:annotation>
									<xs:documentation>Nom du mapping STRUTS a l'IHM SVA.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DESCRIPTION" type="xs:string">
								<xs:annotation>
									<xs:documentation>Description textuelle prC)sentant le SVA.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SVA_GUI_DELETE">
		<xs:annotation>
			<xs:documentation>Permet de supprimer un SVA Gui.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SVA_GUI">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SVA_GUI_IDENTIFIER" type="TypeSVAIdent"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SVA_INFORMATION_DESCRIPTION">
		<xs:annotation>
			<xs:documentation>Permet d'ajouter un fichier utile a un SVA (et eventuellement a un jeu de donnees)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SVA_INFORMATION" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>File containing SVA informations.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SVA_INFORMATION_IDENTIFIER" type="TypeSVAIdent">
								<xs:annotation>
									<xs:documentation>Since name is not unique , we need a unique identifier (textual one [A-Za-z_] authorized)</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FILE" type="TypeSuffixedFilename">
								<xs:annotation>
									<xs:documentation>The name of the file to be displayed and transmitted to client applications.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IS_PARAMETER_INFORMATION" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>indicates wether the file defines parameters for GUI interaction or is only used raw while processing the transformation.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SVA">
								<xs:annotation>
									<xs:documentation>Associated SVA that uses the file at processing.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SVA_IDENTIFIER" type="TypeSVAIdent">
											<xs:annotation>
												<xs:documentation>the SVA plug in identifier</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DATA_SET" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Id the information file is for use with the data set, add this element.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="NODE_IDENTIFIER"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SVA_INFORMATION_UPDATE">
		<xs:annotation>
			<xs:documentation>Permet d'associer un fichier a un SVA et a un dataset. Ne remplace pas les anciennes associations.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SVA_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SVA_INFORMATION_IDENTIFIER" type="TypeSVAIdent">
								<xs:annotation>
									<xs:documentation>The name of the file to be displayed and transmitted to client applications.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SVA">
								<xs:annotation>
									<xs:documentation>Associated SVA that uses the file at processing.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SVA_IDENTIFIER" type="TypeSVAIdent">
											<xs:annotation>
												<xs:documentation>the SVA plug in identifier</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DATA_SET" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Id the information file is for use with the data set, add this element.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="NODE_IDENTIFIER"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SVA_INFORMATION_DELETE">
		<xs:annotation>
			<xs:documentation>Permet de supprimer un fichier utilisC) par un SVA.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SVA_INFORMATION">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SVA_INFORMATION_IDENTIFIER" type="TypeSVAIdent">
								<xs:annotation>
									<xs:documentation>The name of the file to be displayed and transmitted to client applications.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SVA_DATASET_UPDATE">
		<xs:annotation>
			<xs:documentation>Permet de lier un jeu de donnees a un SVA et eventuellement de le definir comme SVA par defaut.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SVA">
					<xs:annotation>
						<xs:documentation>SVA</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SVA_IDENTIFIER" type="TypeSVAIdent">
								<xs:annotation>
									<xs:documentation>the SVA plug in identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DATA_SET" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>dataset list</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="NODE_IDENTIFIER"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DEFAULT" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>If true, this means each dataset has the sva by default.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DELETE_SVA_DATASET">
		<xs:annotation>
			<xs:documentation>Permet de supprimer le lien d'un jeu de donnees a un SVA.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SVA">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SVA_IDENTIFIER" type="TypeSVAIdent">
								<xs:annotation>
									<xs:documentation>the SVA plug in identifier</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="DATA_SET" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="NODE_IDENTIFIER"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
