rs-dataprovider/acquisition/acquisition-plugins-ssalto/src/test/resources/income/dico/SIPAD_Base_Type_SSALTO_V3.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://cnes.fr/dico_SIPAD" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cnes.fr/dico_SIPAD" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation xml:lang="fr">
Definition des types simples et types complexes pour SNG3
HISTORIQUE : 
- Date de creation : 05/03/2008  - V1.0
- Date de derniere modification : 30/03/2009 - V2.0
  DM-ID : SIPNG-DM-0053-CN : 2009/01/13 : extension du nombre de caracteres dans l'identifiant des entites
- Modification : 10/11/2009  - V2.1
  Prise en compte de la mission CryoSat-2
- Modification: 02/11/2009 - V2.2 
  Prise en compte de la mission SARAL
- Modification: 01/03/2010 - V2.3 
  Prise en compte de la mission HY-2A
  Correction "Monitoring telemetry" -> "Housekeeping telemetry"
- Modification : 10/01/2011 - V3.0
  Uniformisation des versions avant ouverture sur Internet
- Modification : 11/01/2011 - V3.1
  Integration des produits HY2A
- Modification : 07/11/2011 - V3.1
  Prise en compte des 2 nouveaux type de produits COMMUN_GPS_EPHEMERIS et COMMUN_GPS_CLOCK
  Prise en compte des nouveaux type de produits DUACS
- Date de modification : 16/02/2012 - V3.1
  Rajout du transformer CLONE_CATAVISO dans la liste enumere des transformations 
- Date de modification : 12/06/2012 - V3.2
   Changement de version du dico et baseType lors de la montee en version V4.7.3 du SIPAD-SSALTO
- Date de modification : 03/07/2012 - V3.2
  Prise en compte des nouveaux type de produits SIMBAD : rajout de "Windows XP" dans "TypeOs"
- Date de modification : 09/08/2012 - V3.2
  Modification de TypeProductFamily, TypeProductSource et TypeProcessingLevel pour les DUACS
- Date de modification : 09/10/2012 - V3.2
  Modification de TypeProductSource et TypeProductClass pour SARAL
- Date de modification : 17/12/2012 - V3.2
  Modification de TypeProductSource et TypeProductFamily pour SARAL 
- Date de modification : 12/11/2014 - V3.3
  Rajout des informations pour JASON3
- Modification : 22/07/2015  - V2.1
  Prise en compte de la mission Sentinel3
  Modification du type TypeIssueRevision pour sentinel3

        </xs:documentation>
    </xs:annotation>
    <!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
    <!-- Definition des types simples du dictionnaire SIPAD-NG            -->
    <!-- """""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
    <xs:simpleType name="TypeArchive">
        <xs:annotation>
            <xs:documentation>Enumere des noms d'archives possibles pour un objet de stockage</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SGDS"/>
            <xs:enumeration value="GF_SGDS"/>
            <xs:enumeration value="AVISO_COMMUN"/>
            <xs:enumeration value="AVISO_CRYOSAT"/>
            <xs:enumeration value="AVISO_ENVISAT"/>
            <xs:enumeration value="AVISO_ERS1"/>
            <xs:enumeration value="AVISO_ERS2"/>
            <xs:enumeration value="AVISO_JASON2"/>
            <xs:enumeration value="AVISO_JASON"/>
            <xs:enumeration value="AVISO_SPOT"/>
            <xs:enumeration value="AVISO_TP"/>
            <xs:enumeration value="GF_AVISO_JASON"/>
            <xs:enumeration value="GF_AVISO_ENVISAT"/>
            <xs:enumeration value="SSALTO_ERS_ENVISAT_CRYOSAT"/>
            <xs:enumeration value="SSALTO_SPOT_HY2_SARAL"/>
            <xs:enumeration value="SSALTO_TOPEX_JASON_COMMUN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeArchivePath">
        <xs:annotation>
            <xs:documentation>String de 1 a 160 car. debutant par un /</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="160"/>
            <xs:pattern value="/.{1,159}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeDocumentPriority">
        <xs:annotation>
            <xs:documentation>Enumere des ordres d'importance des documents</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PRIMARY"/>
            <xs:enumeration value="SECONDARY"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeDocumentType">
        <xs:annotation>
            <xs:documentation>Enumere des types de document</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIBLIOGRAPHIE"/>
            <xs:enumeration value="DED"/>
            <xs:enumeration value="DOC"/>
            <xs:enumeration value="LOGICIEL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeEventTableCriteriaType">
        <xs:annotation>
            <xs:documentation>Enumere des types possibles de criteres renseignes dans une table d'evenements</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="GEO"/>
            <xs:enumeration value="GEO_TEMPORAL"/>
            <xs:enumeration value="TEMPORAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeEventTableIdentifier">
        <xs:annotation>
            <xs:documentation>String TypeString_1_128 debutant par TAB_TC_... </xs:documentation>
        </xs:annotation>
        <xs:restriction base="TypeString_1_128">
            <xs:pattern value="TAB_TC_.+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeEventTableValueType">
        <xs:annotation>
            <xs:documentation>Enumere des types de valeurs renseignees dans une table d'evenements</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="KEYWORD"/>
            <xs:enumeration value="NUMERIC_VALUE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeGraphType">
        <xs:annotation>
            <xs:documentation>Enumere des types de graphe auquel appartient une collection</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BROWSE"/>
            <xs:enumeration value="DATA"/>
            <xs:enumeration value="DOCUMENT"/>
            <xs:enumeration value="TABLE"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeGridTrack">
        <xs:annotation>
            <xs:documentation>Enumere des types de produits (grilles ou sur la trace)</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Along-track products"/>
            <xs:enumeration value="Gridded products"/>
            <xs:enumeration value="Scalar"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeInstrumentClass">
        <xs:annotation>
            <xs:documentation>Enumere des classes d'instruments</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Core mission"/>
            <xs:enumeration value="Passenger"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeInstrumentFullName">
        <xs:annotation>
            <xs:documentation>Enumere des noms complets d'instruments</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Altimeter working in Ka-band"/>
            <xs:enumeration value="Advanced Microwave Radiometer"/>
            <xs:enumeration value="Advanced Research and Global Observation Satellite-3"/>
            <xs:enumeration value="CARacterisation et Modelisation de l'Environnement"/>
            <xs:enumeration value="Doppler Orbitography Radiopositioning Integrated by Satellite"/>
            <xs:enumeration value="Global Positioning System Payload"/>
            <xs:enumeration value="Interface Control Unit"/>
            <xs:enumeration value="Jason-1 Microwave Radiometer"/>
            <xs:enumeration value="Light Particles Telescope"/>
            <xs:enumeration value="Laser Retroflector Array"/>
            <xs:enumeration value="Laser RetroReflector"/>
            <xs:enumeration value="Time Transfer by Laser Link"/>
            <xs:enumeration value="Turbo Rogue Space Receiver"/>
            <xs:enumeration value="Radar Altimeter 2"/>
            <xs:enumeration value="Correction Microwave Radiometer"/>
            <xs:enumeration value="Radar Altimeter 1"/>
            <xs:enumeration value="Global Navigation Satellite System"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeInstrumentName">
        <xs:annotation>
            <xs:documentation>Enumere des noms d'instruments</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AltiKa"/>
            <xs:enumeration value="AMR"/>
            <xs:enumeration value="ARGOS-3"/>
            <xs:enumeration value="CARMEN-2"/>
            <xs:enumeration value="CARMEN-3"/>
            <xs:enumeration value="DORIS"/>
            <xs:enumeration value="GPSP"/>
            <xs:enumeration value="ICU"/>
            <xs:enumeration value="JMR"/>
            <xs:enumeration value="LPT"/>
            <xs:enumeration value="LRA"/>
            <xs:enumeration value="LRR"/>
            <xs:enumeration value="Poseidon-1"/>
            <xs:enumeration value="Poseidon-2"/>
            <xs:enumeration value="Poseidon-3"/>
            <xs:enumeration value="T2L2"/>
            <xs:enumeration value="TRSR"/>
            <xs:enumeration value="Topex"/>
            <xs:enumeration value="RA-2"/>
            <xs:enumeration value="CMR"/>
            <xs:enumeration value="RA-1"/>
            <xs:enumeration value="GNSS"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeInstrumentType">
        <xs:annotation>
            <xs:documentation>Enumere des types de technique ou de methode pour realiser une observation</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Dosimeter"/>
            <xs:enumeration value="Location and data collection system"/>
            <xs:enumeration value="Payload interface module"/>
            <xs:enumeration value="Positioning / Navigation"/>
            <xs:enumeration value="Radiometer"/>
            <xs:enumeration value="Radar altimeter"/>
            <xs:enumeration value="Reflector"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeIssueRevision">
        <xs:annotation>
            <xs:documentation>String de 15 a 17 car. de format "Issue n  - Rev n" avec n = entier a 1 ou 2 digits</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="15"/>
            <xs:maxLength value="17"/>
            <xs:pattern value="Issue [0-9][0-9]? - Rev [0-9A-C][0-9A-C]?"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeLatitude">
        <xs:annotation>
            <xs:documentation>Decimal de format (nn)n.dd [-90.00; 90.00]</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="-90"/>
            <xs:maxInclusive value="90"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeLongitude">
        <xs:annotation>
            <xs:documentation>Decimal de format (nnn)n.dd [-180.00; 180.00]</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:maxInclusive value="180"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="-180"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeMissionName">
        <xs:annotation>
            <xs:documentation>Enumere des missions</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Sentinel-3A"/>
            <xs:enumeration value="CryoSat-2"/>
            <xs:enumeration value="EnviSat"/>
            <xs:enumeration value="ERS-1"/>
            <xs:enumeration value="ERS-2"/>
            <xs:enumeration value="HY-2A"/>
            <xs:enumeration value="Jason-1"/>
            <xs:enumeration value="Jason-2"/>
            <xs:enumeration value="Jason-3"/>
            <xs:enumeration value="Multimission"/>
            <xs:enumeration value="SARAL"/>
            <xs:enumeration value="SPOT-2"/>
            <xs:enumeration value="SPOT-4"/>
            <xs:enumeration value="SPOT-5"/>
            <xs:enumeration value="Topex-Poseidon"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeNode">
        <xs:annotation>
            <xs:documentation>String TypeString_1_128 debutant par ([BR,DA,DO,TAB)_(C,ST,TC)_... :node_identifier, ascending_node, descending_node, node_seeen_by, seen_node,</xs:documentation>
        </xs:annotation>
        <xs:restriction base="TypeString_1_128">
            <xs:pattern value="(BR|DA|DO|TAB)_(C|ST|TC)_.+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOflNrtRt">
        <xs:annotation>
            <xs:documentation>Off-line, Near-real time ou Real time</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Both Near-real time and Off-line products"/>
            <xs:enumeration value="Both Real-time and Off-line products"/>
            <xs:enumeration value="Near-real time, Off-line and Forecast products"/>
            <xs:enumeration value="Near-real time products"/>
            <xs:enumeration value="Off-line products"/>
            <xs:enumeration value="Real-time products"/>
            <xs:enumeration value="Forecast product"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOrganisme">
        <xs:annotation>
            <xs:documentation>Organismes</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAST - China Academy of Space Technology"/>
            <xs:enumeration value="CNES - Centre National d'Etudes Spatiales, France"/>
            <xs:enumeration value="ESA - European Space Agency"/>
            <xs:enumeration value="EUMETSAT - EUropean METeorological SATellite organisation"/>
            <xs:enumeration value="ISRO - Indian Space Research Organisation"/>
            <xs:enumeration value="JAXA - Japan Aerospace Exploration Agency"/>
            <xs:enumeration value="JPL - Jet Propulsion Laroratory (NASA), USA"/>
            <xs:enumeration value="NASA - National Aeronautics and Space Administration, USA"/>
            <xs:enumeration value="NOAA - National Oceanic and Atmospheric Administration, USA"/>
            <xs:enumeration value="NSOAS - National Satellite Ocean Application Service, China"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOs">
        <xs:annotation>
            <xs:documentation>Enumere des systemes sur lequel ont ete generees les donnees du jeu</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Both Unix and DOS-Windows"/>
            <xs:enumeration value="DOS-Windows"/>
            <xs:enumeration value="Linux"/>
            <xs:enumeration value="Unix"/>
            <xs:enumeration value="Windows XP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypePhase">
        <xs:annotation>
            <xs:documentation>Enumere des systeme sur lequel ont ete generees les donnees du jeu</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Ascending"/>
            <xs:enumeration value="Descending"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeProcessingLevel">
        <xs:annotation>
            <xs:documentation>Enumere des niveaux de traitement</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="L0"/>
            <xs:enumeration value="L1"/>
            <xs:enumeration value="L1b"/>
            <xs:enumeration value="L2"/>
            <xs:enumeration value="L3"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TypeProductSource">
                <xs:annotation>
                        <xs:documentation>Enumere des sources des produits</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
            <xs:enumeration value="CNES"/>
            <xs:enumeration value="CNES / Altimetry Multimission Center"/>
            <xs:enumeration value="CNES / AVISO-EDDIE"/>
            <xs:enumeration value="CNES / Data Server"/>
            <xs:enumeration value="CNES / GIM Team"/>
            <xs:enumeration value="CNES / Jason Command and Control Center (JCCC)"/>
            <xs:enumeration value="CNES / Jason-2 Command and Control Center (J2CCC)"/>
            <xs:enumeration value="CNES / Jason-3 Command and Control Center (J3CCC)"/>
            <xs:enumeration value="CNES / Instruments Command and Control Center"/>
            <xs:enumeration value="CNES / Localisation component"/>
            <xs:enumeration value="CNES / LOCalisation component"/>
            <xs:enumeration value="CNES / MOG2D"/>
            <xs:enumeration value="CNES / Orbit Mission Team"/>
            <xs:enumeration value="CNES / PANDOR"/>
            <xs:enumeration value="CNES / SALP"/>
            <xs:enumeration value="CNES / SMLD"/>
            <xs:enumeration value="CNES / SMLP"/>
            <xs:enumeration value="CNES / SPA Team"/>
            <xs:enumeration value="CNES / SPA"/>
            <xs:enumeration value="CNES / SPOT DORIS Telemetry System (TMDS)"/>
            <xs:enumeration value="CNES / SPOT operations and control center (CMP)"/>
            <xs:enumeration value="CNES / STILO"/>
            <xs:enumeration value="CNES / EXPERTS"/>
            <xs:enumeration value="CNES / GENTC"/>
            <xs:enumeration value="ECMWF"/>
            <xs:enumeration value="ESA / Flight Operations Control Centre (FOCC)"/>
            <xs:enumeration value="ESA / Flight Operation Segment (FOS)"/>
            <xs:enumeration value="ESA / EUMETSAT / Flight Operation Segment (FOS)"/>
            <xs:enumeration value="ESA / Payload Data Handling Station (PDHS)"/>
            <xs:enumeration value="ESA / Payload Data Segment (PDS)"/>
            <xs:enumeration value="ESA / Payload Data Ground Segment (PDGS)"/>
            <xs:enumeration value="EUMETSAT"/>
            <xs:enumeration value="EUMETSAT / EUMPC-SRL"/>
            <xs:enumeration value="EUMETSAT / TM-Analyser"/>
            <xs:enumeration value="ISRO / SARAL Satellite Control Center (SCC)"/>
            <xs:enumeration value="Jason TM-NRT"/>
            <xs:enumeration value="Jason-2 TM-NRT"/>
            <xs:enumeration value="Jason-3 TM-NRT"/>
            <xs:enumeration value="Meteo-France"/>
            <xs:enumeration value="NASA / CDDIS Team"/>
            <xs:enumeration value="NASA / JPL (Jet Propulsion Laboratory)"/>
            <xs:enumeration value="NASA JPL / Jason Science Data Subsystem (JSDS)"/>
            <xs:enumeration value="NASA JPL / Jason Telemetry Command and Control System (JTCCS)"/>
            <xs:enumeration value="NASA JPL / Physical Oceanography Distributed Active Archive Center (PO.DAAC)"/>
            <xs:enumeration value="NASA JPL / Topex-Poseidon Ground System (TGS)"/>
            <xs:enumeration value="NOAA"/>
            <xs:enumeration value="NOAA / Jason-2 Telemetry Command and Control Center (J2TCCC)"/>
            <xs:enumeration value="NOAA / Jason-3 Telemetry Command and Control Center (J3TCCC)"/>
            <xs:enumeration value="NSOAS"/>
            <xs:enumeration value="CLS/Ssalto Duacs"/>
	    <xs:enumeration value="TM-NRT"/>
                </xs:restriction>
        </xs:simpleType>

    <xs:simpleType name="TypeProductClass">
        <xs:annotation>
            <xs:documentation>Enumere des classes de produits</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Altimetry products"/>
            <xs:enumeration value="Auxiliary products"/>
            <xs:enumeration value="Common products"/>
            <xs:enumeration value="Expert products"/>
            <xs:enumeration value="Flight softwares"/>
            <xs:enumeration value="Telecommands"/>
            <xs:enumeration value="Telemetry"/>
            <xs:enumeration value="Validation products"/>
            <xs:enumeration value="Altimetry verification products"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeProductFamily">
        <xs:annotation>
            <xs:documentation>Enumere des familles de produits</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="Calibration information"/>
            <xs:enumeration value="Crossover points"/>
            <xs:enumeration value="Earth rotation"/>
            <xs:enumeration value="Ephemeris"/>
            <xs:enumeration value="Geophysical data"/>
            <xs:enumeration value="Housekeeping telemetry"/>
            <xs:enumeration value="Meteorological products"/>
            <xs:enumeration value="Mog2D"/>
            <xs:enumeration value="Satellite information"/>
            <xs:enumeration value="Scientific telemetry"/>
            <xs:enumeration value="Solar activity"/>
            <xs:enumeration value="Times correspondence"/>
            <xs:enumeration value="GPS constellation"/>
            <xs:enumeration value="Duacs products"/>
            <xs:enumeration value="Environmental information"/>
            <xs:enumeration value="Instrument information"/>
            <xs:enumeration value="DORIS Network information"/>
            <xs:enumeration value="Command/Control"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeString_1_16">
        <xs:annotation>
            <xs:documentation>String standard de 1 a 16 car.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeString_1_32">
        <xs:annotation>
            <xs:documentation>String standard de 1 a 32 car.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeString_1_64">
        <xs:annotation>
            <xs:documentation>String standard de 1 a 64 car.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeString_1_80">
        <xs:annotation>
            <xs:documentation>String standard de 1 a 80 car.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="80"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeString_1_128">
        <xs:annotation>
            <xs:documentation>String standard de 1 a 128 car.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeString_1_256">
        <xs:annotation>
            <xs:documentation>String standard de 1 a 256 car.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeString_1_320">
        <xs:annotation>
            <xs:documentation>String standard de 1 a 320 car.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="320"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeSuffixedFilename">
        <xs:annotation>
            <xs:documentation>String TypeString_1_64 se terminant par .cc(cc) ou c= 1 car.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="TypeString_1_64">
            <xs:pattern value=".*\.[^0-9]{2,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeSuffixedFilePath">
        <xs:annotation>
            <xs:documentation>String TypeString_1_320 se terminant par .cc(cc) ou c= 1 car.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="TypeString_1_320">
            <xs:pattern value=".*\.[^0-9]{2,4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeSVA">
        <xs:annotation>
            <xs:documentation>Enumere des differents types de SVA</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BATCH"/>
            <xs:enumeration value="INTERACTIVE"/>
            <xs:enumeration value="URL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeSVAIdent">
        <xs:annotation>
            <xs:documentation>String TypeString_1_128 debutant par (SVA)_... :node_identifier, ascending_node, descending_node, node_seeen_by, seen_node,</xs:documentation>
        </xs:annotation>
        <xs:restriction base="TypeString_1_128">
            <xs:pattern value="(SVA_).+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeTagGlu">
        <xs:annotation>
            <xs:documentation>String TypeString_1_80 de la forme  &lt;&amp;...&gt;</xs:documentation>
        </xs:annotation>
        <xs:restriction base="TypeString_1_80">
            <xs:minLength value="1"/>
            <xs:pattern value="&lt;&amp;.*&gt;"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeTransfoSoDo">
        <xs:annotation>
            <xs:documentation>Enumere des transformations pour passer d'un objet de stockage a un objet de donnees</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAT"/>
            <xs:enumeration value="DETAR"/>
            <xs:enumeration value="OD_DETAR"/>
            <xs:enumeration value="GUNZIP"/>
            <xs:enumeration value="IDENTITY"/>
            <xs:enumeration value="UNZIP"/>
            <xs:enumeration value="CLONE_CATAVISO"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
    <!-- Definition des types complexes du dictionnaire SIPAD-NG             -->
    <!-- """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" -->
    <xs:complexType name="TypeCBothStorage">
        <xs:annotation>
            <xs:documentation>Stockage en archive et en ligne</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="STORAGE_ON_LINE" type="TypeCStorageOnLine">
                <xs:annotation>
                    <xs:documentation>Objet en ligne</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STORAGE_NEAR_LINE" type="TypeCStorageNearLine">
                <xs:annotation>
                    <xs:documentation>Objet dans l'archive</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCBothStorageUpdate">
        <xs:annotation>
            <xs:documentation>Stockage en archive et en ligne</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="STORAGE_ON_LINE" type="TypeCStorageOnLineUpdate">
                <xs:annotation>
                    <xs:documentation>Objet en ligne</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STORAGE_NEAR_LINE" type="TypeCStorageNearLineUpdate">
                <xs:annotation>
                    <xs:documentation>Objet dans l'archive</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCCycleRange">
        <xs:annotation>
            <xs:documentation>Cycles min et max couverts par un fichier</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="CYCLE_MIN" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Cycle minimum </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CYCLE_MAX" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Cycle maximum</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCGeoCoordinates">
        <xs:annotation>
            <xs:documentation>Coordonnees geographiques</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="LATITUDE_MIN" type="TypeLatitude">
                <xs:annotation>
                    <xs:documentation>Latitude Sud</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LONGITUDE_MIN" type="TypeLongitude">
                <xs:annotation>
                    <xs:documentation>Longitude Ouest</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LATITUDE_MAX" type="TypeLatitude">
                <xs:annotation>
                    <xs:documentation>Latitude Nord</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LONGITUDE_MAX" type="TypeLongitude">
                <xs:annotation>
                    <xs:documentation>Longitude Est</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCOrbitRange">
        <xs:annotation>
            <xs:documentation>Orbites min et max couvertes par un fichier</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ORBIT_MIN" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Orbite minimum </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ORBIT_MAX" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Orbite maximum</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCFileResolution">
        <xs:annotation>
            <xs:documentation>Resolution zonale, meridionnale et temporelle</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="LONG_ECH" type="TypeString_1_16" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Resolution zonale (longitude)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LAT_ECH" type="TypeString_1_16" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Resolution meridionale (latitude)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="T_ECH" type="TypeString_1_32" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Resolution temporelle</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCMissionTimePeriod">
        <xs:annotation>
            <xs:documentation>Periode temporelle (date debut - date fin) au format YYYY-MM-DD, couverte par la mission</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MISSION_START_DATE" type="xs:date">
                <xs:annotation>
                    <xs:documentation>Date debut </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MISSION_STOP_DATE" type="xs:date" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Date fin</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TypeCStorageChoice">
        <xs:annotation>
            <xs:documentation>Choix de stockage en ligne et/ou archive</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="STORAGE_NEAR_LINE" type="TypeCStorageNearLine">
                <xs:annotation>
                    <xs:documentation>Stockage en archive</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STORAGE_ON_LINE" type="TypeCStorageOnLine">
                <xs:annotation>
                    <xs:documentation>Stockage en ligne</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STORAGE_BOTH" type="TypeCBothStorage">
                <xs:annotation>
                    <xs:documentation>Stockage a la fois en ligne et dans une archive</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TypeCStorageChoiceUpdate">
        <xs:annotation>
            <xs:documentation>Choix de stockage en ligne et/ou archive</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="STORAGE_NEAR_LINE" type="TypeCStorageNearLineUpdate">
                <xs:annotation>
                    <xs:documentation>Stockage en archive</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STORAGE_ON_LINE" type="TypeCStorageOnLineUpdate">
                <xs:annotation>
                    <xs:documentation>Stockage en ligne</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STORAGE_BOTH" type="TypeCBothStorageUpdate">
                <xs:annotation>
                    <xs:documentation>Stockage a la fois en ligne et dans une archive</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TypeCStorageNearLine">
        <xs:annotation>
            <xs:documentation>Stockage en archive</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ARCHIVE" type="TypeArchive">
                <xs:annotation>
                    <xs:documentation>Nom de l'archive pour un objet de stockage</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ARCHIVE_PATH" type="TypeArchivePath">
                <xs:annotation>
                    <xs:documentation>Chemin d'acces dans l'archive a l'objet de stockage</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ARCHIVE_OBJECT_NAME" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Nom d'un objet de stockage dans une archive. Ne le renseigner que s'il est different de data_storage_object_identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCStorageNearLineUpdate">
        <xs:annotation>
            <xs:documentation>Stockage en archive</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ARCHIVE" type="TypeArchive" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Nom de l'archive pour un objet de stockage</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ARCHIVE_PATH" type="TypeArchivePath" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Chemin d'acees dans l'archive a l'objet de stockage</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ARCHIVE_OBJECT_NAME" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Nom d'un objet de stockage dans une archive. Ne le renseigner que s'il est different de data_storage_object_identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCStorageOnLine">
        <xs:annotation>
            <xs:documentation>Stockage en ligne</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ON_LINE_PATH" type="TypeString_1_256">
                <xs:annotation>
                    <xs:documentation>Chemin d'acces a un objet de stockage disponible en ligne</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ON_LINE_OBJECT_NAME" type="TypeString_1_256" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Nom d'un objet de stockage disponible en ligne. Ne le renseigner que s'il est different de data_storage_object_identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCStorageOnLineUpdate">
        <xs:annotation>
            <xs:documentation>Stockage en ligne</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ON_LINE_PATH" type="TypeString_1_256" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Chemin d'acces a un objet de stockage disponible en ligne</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ON_LINE_OBJECT_NAME" type="TypeString_1_256" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Nom d'un objet de stockage disponible en ligne. Ne le renseigner que s'il est different de data_storage_object_identifier</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="TypeCTimePeriod">
        <xs:annotation>
            <xs:documentation>Periode temporelle  (date debut - date fin) au format YYYY-MM-DDThh:mm:ss</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="START_DATE" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Date et temps debut </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="STOP_DATE" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Date et temps fin</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
</xs:schema>
